const user = Onerecipe.user.username;
        // console.log(Onerecipe[0]);
       
        
        let one = [];
        for(let i= 0; i < Onerecipe.ingredients.length; i++ ){
            one.push(Onerecipe.ingredients[i].ingredients);
        }
        console.log("inside one");
        console.log(one);
        // const RecipebyID = 
        delete Onerecipe.ingredients;
        delete Onerecipe.user;
        

        Onerecipe.add({user: user});
        console.log("inside Onerecipe");
        console.log(Onerecipe);
        Onerecipe.push({ingredients: one});

        {{!-- <li><button id="login"> Login </button></li> --}}
        <li>
        {{#if logged_in}}
        <button id="logout">logout</button>
        {{else}}
        <button id="login"><a href="/login">login</a></button>
        {{/if}}
        </li>