<div class="row"></div>            
    <div class="col-md-6">
        <h3>Create a New Recipe:</h3>

        <form class="form new-project-form">
            <div class="form-group">
                <label for="project-name">What is the recipe course? Breakfast, Lunch or Dinner:</label>
                <input class="form-input" type="text" id="reipecourse" name="project-name" />
            </div>
            
            <div class="form-group">
                <label for="project-name">Recipe Title:</label>
                <input class="form-input" type="text" id="recipeTitle" name="project-name" />
            </div>

            <div class="form-group">
                <label for="project-name">Key Ingredient:</label>
                <input class="form-input" type="text" id="keyIngredient" name="project-name" />
            </div>

            <div class="form-group">
                <label for="project-name">Cook Time:</label>
                <input class="form-input" type="number" id="cookTime" name="project-name" />
            </div>

            <div class="form-group">
                <label for="project-name">Serving Size:</label>
                <input class="form-input" type="number" id="servingSize" name="project-name" />
            </div>

            <div class="form-group">
                <label for="project-name">Is it Vegitarian?</label>
                <input class="form-input" type="boolean" id="vegitarian" name="project-name" />
            </div>

            <div class="form-group">
                <label for="project-name">Is it serve Hot?</label>
                <input class="form-input" type="boolean" id="hot" name="project-name" />
            </div>

            <div class="form-group">
                <label for="arrays">Ingredients:</label>
                <input class="form-input" type="text" id="ingredients" name="array" value="" />
            </div>

            <div class="form-group">
                <label for="project-name">Instructions:</label>
                <textarea class="form-input" type="text" id="instructions" name="project-name"></textarea>
            </div>
                       
            <div class="form-group ">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>

        </form>
    </div>
</div>
